@model PL.Models.RegisterModel

<h2>Registration</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <div>
            <label asp-for="Email">Input Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Input password</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Repeat password</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <label asp-for="Name">Input Name</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="SurName">Input SurName</label><br />
            <input type="text" asp-for="SurName" />
            <span asp-validation-for="SurName" />
        </div>
        <div>
            <label asp-for="City">Input City</label><br />
            <input type="text" asp-for="City" />
            <span asp-validation-for="City" />
        </div>
        <div>
            <label asp-for="PostIndex">Input PostIndex</label><br />
            <input type="text" asp-for="PostIndex" />
            <span asp-validation-for="PostIndex" />
        </div>
        <div>
            <input type="submit" value="Registrate" />
        </div>
    </div>
</form>