<form>
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" id="username" formControlName="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="usersurname">Surname</label>
      <input type="text" id="usersurname" formControlName="usersurname" class="form-control">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" formControlName="city" class="form-control">
    </div>
    <div class="form-group">
      <label for="postIndex">PostIndex</label>
      <input type="text" id="postIndex" formControlName="postIndex" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
