<div class="container_with_sidebar">
  <main class="main_bar">
    <div>
      <h3>{{ 'Store' | translate }}</h3>
      <div>
          <ul class="goods">
            <li class="goods_cell" *ngFor="let product of mainProductInformationList">
              <div class="tile">
                <a class="tile_picture">
                  <img [src]="product.urlImage" alt={{product.imageName}}>
                </a>
                <a class="tile_title">
                  {{product.name}}
                </a>
                <p class="tile_price">{{ 'Price' | translate }}: {{product.price}}</p>
              </div>
            </li>
          </ul>
          <br />
        </div>
    </div>
  </main>
  <aside class="side_bar">
    <div>
      <h3>{{ 'Sidebar' | translate }}</h3>
      <p>{{ 'Sidebar' | translate }}</p>
    </div>
  </aside>
</div>