@import url("../../styles/common/goods.css");

.container_with_sidebar {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row-reverse;
  }

.side_bar{
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    position: sticky;
    transform: translateZ(0);
    display: block;
    box-sizing: border-box;
}

.main_bar{
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 250px);
    border-left: 1px solid #e9e9e9;
    display: block;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .container_with_sidebar {
        flex-direction: column-reverse;
      }
    
      .main_bar {
        width: 100%;
        border-left: none;
      }
    
      .side_bar {
        width: 100%;
        position: static;
        margin-top: 16px;
      }
  }