@model IEnumerable<PL.Models.ProductViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>Order</h2>

<script>
    var BlankTemplate = function (id) {
        $.ajax({
            url: "/Cart/AddToCart?id=" + id,
            data: {
            }, 
            type: "POST",
            success: function () {
             },
            error: function () {
            }
        });
    }
</script>


