<div class="container">
    <div>
    <h3>{{ 'OrderNoun' | translate }}</h3>
        <div *ngIf="isOrderEmpty">
            <h3>{{ 'OrderEmpty' | translate }}</h3>
        </div>
        <div *ngIf="!isOrderEmpty">
            <ul class="orders">
              <!--TODO: Numbers of orders instead of ids -->
                <li class="orders_cell" *ngFor="let order of orderInformation">
                  <div class="tile">
                    <a class="tile_title">
                      {{order.id}}
                    </a>
                    <ul class="goods">
                      <li class="goods_cell" *ngFor="let product of order.products">
                        <div class="tile">
                          <a class="tile_picture">
                            <img [src]="product.urlImage" alt={{product.imageName}}>
                          </a>
                          <a class="tile_title">
                            {{product.name}}
                          </a>
                          <p class="tile_price">{{ 'Price' | translate }}: {{product.price}}</p>
                          <p>{{ 'Count' | translate }}: {{product.count}}</p>
                        </div>
                      </li>
                    </ul>
                    <p class="tile_price">{{ 'Sum' | translate }}: {{order.sum}}</p>
                  </div>
                </li>
            </ul>
            <br />
            <button mat-flat-button color="primary" (click)="payOrder()">{{ 'Pay' | translate }}</button>
          </div>
    </div>
</div>